body {
  font-family: Open Sans;
}

h1 {
  text-align: center;
}

.answer {
  text-align: center;
}

.form-control, input, textarea {
  border: 2px hidden transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.buttonPageQ {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonPageQ:hover {background-color: #3e8e41}

.buttonPageQ:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.form-control {
  display: block;
  width: 95%;
  height: 21px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #464545;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control-dropdown {
  display: block;
  width: 99.5%;
  height: 43px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #464545;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#quiz {
  text-indent: 10px;
  display:none;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #97F70E;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button.active {
  background-color: #F8F8FF;
  color: #525252;
}

button {
  position: relative;
  float:right;
}

.button a {
  text-decoration: none;
  color: black;
}

#container {
  width:50%;
  margin:auto;
  padding: 0 25px 40px 10px;
  background-color: #FFBF00;
  border:4px solid #B0E0E6;
  border-radius:5px;
  color: #FFFFFF;
  font-weight: bold;
  box-shadow: 5px 5px 5px #888;
}



ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#prev {
  display:none;
}

#start {
  display:none;
  width: 90px;
}